
  /* this is fo the menu */
  .bg-dark {
    background-color: #174ad4 !important;
  }
  
  body {
    background-color: #baaff7;
    color: #333333;
  }

  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: rgb(247, 205, 92);
    }
    
    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }
  
    .btn-outline-success {
      color: #22fcf1;
      background-color: transparent;
      background-image: none;
      border-color: #22fcf1;
  }
  
  .btn-outline-success:hover {
      color: #97228d;
      background-color: #22fcf1;
      border-color: #97228d;
  }
  
h1 {
  font-size: 3em;
}

h1, h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #174ad4;
  text-align: center;
}

h5, li {
  color: #22fcf1;
}

.intro-image{
  margin: 20px;
}

.intro {
  margin-bottom: 4em;
}

.work-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 4em;
  /* border: 1px solid red; */
}

.facts-wrapper{
  display: flex;
  /* grid-template-columns: 33% 33% 33%; */
  margin-bottom: 4em;
  border: 1px solid white;
  justify-content: center;
}

.facts-wrapper .bulletpoints {
  border: 3px solid white;
}

.bulletpoints{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2em;
  
}

   .container{
      display: flex;
      justify-content: center;
  } 


  .footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    opacity: .25;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: opacity 1s ease-in-out;
}

.footer {
    color: currentColor;
}

.footer:hover {
    opacity: .75;
}

.container{
    height: auto;
} 

.spacer{
    height: 100px;
    width: 100%;
    
}

.spacer-sm{
  height: 50px;
}