
.my-brand {
  width: 100px;
  height: auto;
}

.brand {
  text-align: center;
}

.my-brand-top {
  width: 300px;
  height: auto;
}

/* start navigation bar */

.navbar, .navbar-expand-lg, .navbar-dark, .bg-dark {
  position: sticky;
  top: 0;
}

.bg-dark {
  background-color: #B2D6FF !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #dd8113;
}
  
.navbar-dark .navbar-nav .nav-link  {
  color: #dd8113;;
}

.nav-link-active  {
  color: green;
}

  .btn-outline-success {
    color: #dd8113;
    background-color: transparent;
    background-image: none;
    border-color: #dd8113;
}

.btn-outline-success:hover {
    color: #97228d;
    background-color: #dd8113;
    border-color: #97228d;
}




h3 {
    text-decoration:underline;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}



.img-main {
    height: 300px;
    margin: 20px;
    justify-content: center;
    box-sizing: border-box;
    display: block;
  }

/* start on cubibles */

.container{
  height: auto;
} 

.theme-container{
  height: auto;
  /* display: flex;
  justify-content: center; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 5%;
  margin-top: 120px;
} 

.theme {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  width: 100%;
  /* background-color: rgb(124, 255, 248); */
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
}

.theme-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
}

.theme-link a {
  text-decoration: underline;
  color: black;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 17px;
  /* font-weight:900; */
}

  /* .cubicles {
    border: 3px solid red;
    background-color: rgb(255, 124, 124);
  } */

  .date-text a, .title-text a, .des-text a {
    text-decoration: none;
    color: black;
  }

  .date-text {
    margin-top: 24px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
  }

  .title-text {
    margin-top: 20px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 27px;
  }

  .des-text {
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    
  }

  .tag-text {
    margin-top: 18px;
  }

  .tag-text a {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-decoration: underline;
    color: black;
  }

  .cubicle {
    /* border: 1px solid green; */
    /* background-color: whitesmoke; */
    margin-top: 40px;
  }
  /* .cubicle-image{
    text-align: center;
    border: 1px solid red;
  } */

  .image{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: 48em) {
    .cubicles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
  }
  
  .cubicles img {
      /* border: 1px solid greenyellow; */
      height: 250px;
      width: 100%;
      object-fit:cover;
  }
}


  img {
    height: 350px;
    justify-content: center;
    box-sizing: border-box;
    display: block;
  }

  /* .image-holder{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .text-holder{ 
    height: 300px;
    padding: 20px;
    box-sizing: content-box;
    grid-template: 20% 1fr / 20% 1fr;
    border: 3px solid #174ad4;
  }

.col{
    border: 1px solid rgb(243, 5, 203);
    text-align: center;
}


  .heading {
    float: left;
    width:40%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }

  .container-overlay {
    width: 100%;
    height: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: purple;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/journeys/YjM2OWU2OGMt/YjM2OWU2OGMt-MGMyZTczYTgt-w3000._CB668604101_.jpg);
    background-size:contain;
  }

.overlay {
  margin: 0 auto;
  height: 100px;
  background-color: lightblue;
  justify-content: center;
  clear:both;
}

.img-overlay {
  height: 600px;
  margin: 0 auto;
  width: auto;
  border: 1px red;
}

.overlay-spacer {
  background-color: transparent;
  width: 100%;
  height: 240px;
  margin: 0auto;
  float: left;
}

.picture-container {
  background-color: rgb(233, 226, 213);
  width: 100%;
  float: left;
  height: 1000px;
  overflow: hidden;
  border: 1px red;
}

.column-heading {
  width:100%;
  margin: 0 auto;
  padding: 30px 2%;
  padding-bottom: 10px;
  float: left;
  background-color: #B2D6FF;  
  text-align: left;
}

.column-heading h5{
  font-size: 2em;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  margin-top: 0;
  height: 470px;
  background-color: white;  
}

.column h6{ 
  font-size: 13px;
  padding: 10px;
  color: black;
  font-family: Arial, sans-serif;
}

.column-inside {
  float: left;
  width: 46%;
  margin: 30px 2%;
  margin-top: 0;
  height: 150px;
  background-color: white;    
}

.column-inside a img{
  margin: 0 auto;
  height: 125px; 
}

.picture-inside a img{
  margin: 0 auto;
  height: 330px; 
  font-size: 13px;
  color: black;
}

.picture-inside h6{
  padding-top: 29px;
} */


  .spacer1 {
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

  .spacer {
      height: 100px;
  }

  .caption { 
      text-align: center;
  }


  .paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }

  .footer1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    opacity: .25;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: opacity 1s ease-in-out;
}

.footer1 {
    color: currentColor;
}

.footer1:hover {
    opacity: .75;
}


h2 a{
    color: #22fcf1;
    text-decoration:none;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h2 a:hover {
    text-decoration:underline;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/* _____________________________________________ */

body {
  background-color: rgb(233, 226, 213);
  color: #333333;
}

  