  
  body {
    background-color: rgb(233, 226, 213);
    color: #333333;
  }


.my-brand {
    width: 100px;
    height: auto;
  }
  
  .bg-dark {
    background-color: #B2D6FF !important;
  }
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: #dd8113;
    }
    
    .navbar-dark .navbar-nav .nav-link  {
      color: #dd8113;;
    }
  
.nav-item-active, .nav-item {
    font-family: 'Open Sans', sans-serif;
}
    
    .nav-link-active  {
      color: green;
    }
  
    .btn-outline-success {
      color: #dd8113;
      background-color: transparent;
      background-image: none;
      border-color: #dd8113;
      font-family: 'Open Sans', sans-serif;
  }
  
  .btn-outline-success:hover {
      color: #97228d;
      background-color: #dd8113;
      border-color: #97228d;
  }

.carousel {
    display: flex; 
    justify-content: flex-start;
    overflow-x: scroll;
}

.carousel-item:first-child {
    margin-left: 20px;
}

.carousel-item {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    text-align: left;
    border: 1px solid rgb(163, 162, 172);
}

.carousel-item h2{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.carousel-image {
    object-fit: inherit;
    height: 50vw;
    border: 1px solid red;
    /* margin: 0 auto; */
}

.carousel-image img{
    object-fit: inherit;
    height:100%;
}



/* main grid below  */

.main-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    border: 1px solid purple;
}

.main-grid-item {
    border: 1px solid blue;
}

.grid-image {
    object-fit: inherit;
    text-align: center;
    border: 1px solid red;
}

.grid-image img{
    object-fit: inherit;
    width: 100%;
}

.prices {
    display: inline-block;

}

.main-grid-item h3{
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
}

.main-grid-item h2{
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

.main-grid-item .marked-out{
    text-decoration: line-through;
    color: gray;
}

@media (min-width: 40em) {

    .main-items-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 50px;
    }

    .carousel-image {
        object-fit: inherit;
        height: 20vw;
        border: 1px solid red;
        /* margin: 0 auto; */
    }
    
    .carousel-image img{
        object-fit: inherit;
        height:100%;
    }

}


@media (min-width: 65em) {

    .main-items-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

  .footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    opacity: .25;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: opacity 1s ease-in-out;
}

.footer {
    color: currentColor;
    clear:both;
}

.footer:hover {
    opacity: .75;
}

.spacer {
    height: 100px;
    /* clear:both; */
    /* border: 1px solid rgb(163, 162, 172); */
}
